body{
	background-color: white;
}
.header{
  overflow: hidden;
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  font-family: arial;
  display: flex;  
  padding-top: 30px;
 }
a{
	color:black;
	padding-left: 44px;
  text-decoration: none;
}
a:hover{
color:   #D1A33D;

}
.left{
	margin-left: 18px;
  
}
.right{
  margin-left: 56.5%;
}
.banner{
  width:85%; 
}
.banner img{
  padding: 63px;
  padding-top:94px;
}
